<footer class="footer">
    <div class="bloqueFooter">
        <div class="subBloquesFooter">
            <a href="mailto:rofernandez.ph@gmail.com"><img src="./images/email-icon-black-and-white-mail-vector-24922063.png" alt="email" class="icono mt-2"></a>
            <a href="mailto:rofernandez.ph@gmail.com"><p class="textoFooter">rofernandez.ph@gmail.com</p></a>
          </div>
          <div class="subBloquesFooter">
            <a href="https://www.linkedin.com/in/rociobfernandez/"><img src="./images/81fbf56f443447e69c90283b30a5f746.png" alt="Linkedin" class="icono"></a>  
            <a href="https://www.facebook.com/Roc%C3%ADo-Fern%C3%A1ndez-Ph-110614328280751"><img src="./images/0e29fd86dace47cf9d27b96e02464ff1.png" alt="Facebook" class="icono2"></a>
            <a href="https://www.instagram.com/rofernandez.ph/"><img src="./images/5139b57d841747f9aa948baf420a88ba.png" alt="Instagram" class="icono3"></a>
          </div>
          <div class="subBloquesFooter">
            <a href="https://goo.gl/maps/8GXmrgEvSvLBhDdD7"><img src="./images/dd6f8b8c0f9d4089839486727d13cf0a.png" alt="Ubicación" class="icono"></a>
            <a href="https://goo.gl/maps/8GXmrgEvSvLBhDdD7"><p class="textoFooter">Buenos Aires, Argentina</p></a>
          </div>
      </div>
      <div class="creditoFinal">Desarrollado por Rocío Belén Fernández</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="/assets/js/bootstrap.js"></script>