<header class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-dark bg-pink">
          <div class="container-fluid navegadorConImagenes">
            <a class="navbar-brand" href="/"><img src="./images/logo_horizontal.png" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="/"><p class="textoNavegador">Home</p></a>
                <a class="nav-link" aria-current="page" href="promos"><p class="textoNavegador">Promos</p></a>
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarWhiteDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Portfolio
                    </a>
                    <ul class="dropdown-menu dropdown-menu-pink" aria-labelledby="navbarDarkDropdownMenuLink">
                      <li><a class="dropdown-item" href="portfolio#viajes">Viajes</a></li>
                      <li><a class="dropdown-item" href="portfolio#naturaleza">Naturaleza</a></li>
                      <li><a class="dropdown-item" href="portfolio#booksInterior">Books en Interior</a></li>
                      <li><a class="dropdown-item" href="portfolio#booksExterior">Books en Exterior</a></li>
                    </ul>
                  </li>
                </ul>
                <a class="nav-link" href="sesiones"><p class="textoNavegador">Reservaciones</p></a>
                <a class="nav-link" href="contacto"><p class="textoNavegador">Contacto</p></a>
              </div>
            </div>
          </div>
        </nav>
</header>