<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <!-- HEADER CON BARRA DE NAVEGACION -->
    
    {{>header}}

    <!-- CUERPO -->

    <section class="container bg-pink">
        <h1 class="text-center fs-2 pb-2">Contacto</h1>
        <h2 class="fs-3 p-1 text-center">Su mensaje ha sido enviado.</h2>
    </section>

    <!-- FOOTER Y SCRIPT -->
    
    {{>footer}}

</body>
</html>