<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <!-- HEADER CON BARRA DE NAVEGACION -->
    
    {{>header}}

    <!-- CUERPO -->

    <section class="container d-flex justify-content-around flex-wrap align-items-center text-center">
        <div class="container col-sm-12 col-md-5 col-lg-5">
            <h1 class="fs-3">¡Oops!</h2>
            <h2 class="fs-4">La página solicitada no existe</h2>
            <h2 class="fs-4">Por favor vuelva a intentar:</h2>
            <ul class="list-unstyled">
                <li><a href="/" class="fs-5 text-white text-decoration-none">Home</a></li>
                <li><a href="promos" class="fs-5 text-white text-decoration-none">Promos</a></li>
                <li><a href="portfolio" class="fs-5 text-white text-decoration-none">Portfolio</a></li>
                <li><a href="sesiones" class="fs-5 text-white text-decoration-none">Reservaciones</a></li>
                <li><a href="contacto" class="fs-5 text-white text-decoration-none">Contacto</a></li>
            </ul>
        </div>
        <div class="container col-sm-12 col-md-7 col-lg-7">
            <img src="./images/error_404.png" alt="Error 404" class="img-fluid">
        </div>
    </section>

    <!-- FOOTER Y SCRIPT -->
    
    {{>footer}}

</body>
</html>