<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <!-- HEADER CON BARRA DE NAVEGACION -->
    
    {{>header}}

    <!-- CUERPO -->

    <section class="container">
        <h1 class="fs-2 p-1 text-center">Error 404 :(</h2>
        <h2 class="fs-3 p-1 text-center">La ruta a la que ha intentado acceder no existe.</h3>
        <h2 class="fs-3 p-1 text-center">Por favor vuelva a intentar.</h3>
    </section>

    <!-- FOOTER Y SCRIPT -->
    
    {{>footer}}

</body>
</html>