<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <!-- HEADER CON BARRA DE NAVEGACION -->
    
    {{>header}}

    <!-- CUERPO -->
    <section class="container">
      <div class="textoPrincipalMobile container">
        <div class="d-flex justify-content-around">
          <a href="portfolio#booksExterior" class="text-decoration-none"><h2 class="text-white fs-2 p-1 text-center">Books en Exterior</h2></a>
          <a href="portfolio#booksInterior" class="text-decoration-none"><h2 class="text-white fs-2 p-1 text-center">Books en Interior</h2></a>
        </div>
      </div>
      <div class="container d-flex justify-content-around p2-5">
        <a href="portfolio#booksExterior"><img src="./images/book_exterior/vertical/dsc_0334.jpg" alt="" class=" imgPrincipal"></a>
        <div class="bloquePrincipalLandscape container">
          <a href="portfolio#booksExterior" class="text-decoration-none"><h2 class="text-white p-4 text-start">Books en Exterior</h2></a>
          <img src="./images/logo circulo.png" alt="" class="logo">
          <a href="portfolio#booksInterior" class="text-decoration-none"><h2 class="text-white p-3 mt-32 text-end">Books en Interior</h2></a>
        </div>
        <a href="portfolio#booksInterior"><img src="./images/book_interior/_6009031.jpg" alt="" class="imgPrincipal"></a>
      </div>
    </section>

    <!-- FOOTER Y SCRIPTS -->
    
    {{>footer}}
    
</body>
</html>