<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <!-- HEADER CON BARRA DE NAVEGACION -->
    
    {{>header}}

    <!-- CUERPO -->

    <section class="container bloquePrincipalMobile">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-6 pb-2">
            <a href="portfolio#booksExterior" class="text-decoration-none text-white"><h2 class="text-center pb-2">Books en Exterior</h2></a>
            <a href="portfolio#booksExterior"><img src="./images/book_exterior/vertical/dsc_0334.jpg" alt="Books en Exterior" class="imgPrincipalMobile"></a>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <a href="portfolio#booksInterior" class="text-decoration-none text-white"><h2 class="text-center pb-2">Books en Interior</h2></a>
            <a href="portfolio#booksInterior"><img src="./images/book_interior/_6009031.jpg" alt="Books en Interior" class="imgPrincipalMobile"></a>
          </div>
        </div>
    </section>

    <section class="bloquePrincipalLandscape">
      <div class="container d-flex justify-content-around p2-5">
        <a href="portfolio#booksExterior"><img src="./images/book_exterior/vertical/dsc_0334.jpg" alt="Books en Exterior" class="imgPrincipal"></a>
        <div class="container">
          <a href="portfolio#booksExterior" class="text-decoration-none text-white"><h2 class="text-start p-4">Books en Exterior</h2></a>
          <img src="./images/logo_circulo.png" alt="Logo" class="logo">
          <a href="portfolio#booksInterior" class="text-decoration-none text-white"><h2 class="text-end p-3 mt-32">Books en Interior</h2></a>
        </div>
        <a href="portfolio#booksInterior"><img src="./images/book_interior/_6009031.jpg" alt="Books en Interior" class="imgPrincipal"></a>
      </div>
    </section>

    <!-- FOOTER Y SCRIPTS -->
    
    {{>footer}}
    
</body>
</html>