<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <!-- HEADER CON BARRA DE NAVEGACION -->
    
    {{>header}}

    <!-- CUERPO -->
    <section class="container text-justify politicas">
        <h1 class="text-center fs-2">Políticas de privacidad</h1>
        <h2 class="text-center fs-3 p-1">Texto legal e informativo</h2>
        <h3 class="fs-4 pt-1">Propiedad intelectual sobre los contenidos del sitio Web</h3>
        <p>Todos los elementos que forman el sitio Web, así como su estructura, diseño y código fuente de la misma, están licenciados a XXXXX y están protegidos por la normativa de propiedad intelectual e industrial. Se prohíbe la reproducción total o parcial de los contenidos de este sitio Web, así como su modificación y/o distribución sin citar su origen o solicitar previamente autorización.</p>
        <p>XXXXX no asumirá ninguna responsabilidad derivada del uso por terceros del contenido del sitio Web y podrá ejercitar todas las acciones civiles o penales que le correspondan en caso de infracción de estos derechos por parte del usuario.</p>
        <h3 class="fs-4 pt-1">LOPD (Ley Orgánica de Protección de Datos de Carácter Personal)</h3>
        <p>En cumplimiento de lo dispuesto en la Ley Orgánica 15/1999 de Protección de Datos de Carácter Personal, XXXXX, y al RD 1720/2007 le informa que los datos personales que nos sean proporcionados van a ser incorporados para su tratamiento en ficheros automatizados. La recogida y tratamiento de dichos datos tienen como finalidad la prestación de servicios personalizados, participación en procesos de selección de personal, comunicaciones electrónicas y/o la confección de estadísticas. XXXXX se compromete al cumplimiento de su obligación de secreto con respecto a los datos de carácter personal suministrados y al deber de tratarlos con confidencialidad y reserva, conforme a la legislación vigente. A estos efectos adoptará las medidas necesarias para evitar su alteración, pérdida, tratamiento o acceso no autorizado.</p>
        <p>Así mismo, se le informa que, si lo desea, puede ejercitar los derechos previstos en el Art. 5 de la Ley, de acceso, rectificación, cancelación y oposición que podrá ejercitar en el domicilio social de XXXXX través de correo postal a la dirección: XXXXX o a través del correo electrónico XXXXX. Si nos envían el formulario por correo electrónico deben seleccionar como asunto LOPD, e indicando su nombre completo, dirección de correo electrónico, y en el campo comentarios, su DNI y el tipo de derecho que desea ejercitar, Acceso, Rectificación, Cancelación u Oposición.</p>
        <h3 class="fs-4 pt-1">Cookies</h3>
        <p>El sitio Web de XXXXX utiliza cookies (pequeños archivos de información que el servidor envía al ordenador de quien accede a la página) en la medida imprescindible para el correcto funcionamiento y visualización del sitio Web por parte del usuario.</p>
        <p>Las cookies utilizadas en el sitio web tienen, en todo caso, carácter temporal y desaparecen al terminar la sesión del usuario. En ningún caso se utilizarán las cookies para recoger información de carácter personal.</p>
        <h3 class="fs-4 pt-1">Links</h3>
        <p>Los enlaces contenidos en este sitio Web pueden dirigir a contenidos Web de terceros. XXXXX no asume ninguna responsabilidad por el contenido, informaciones o servicios que pudieran aparecer en dichos sitios, que tendrán exclusivamente carácter informativo y que en ningún caso implican relación alguna entre XXXXX y las personas o entidades titulares de tales contenidos o titulares de los sitios donde se encuentren.</p>
        <h3 class="fs-4 pt-1">Confidencialidad</h3>
        <p>Cualquier dato e información que sea enviado a XXXXX, cualesquiera que sean su formato y soporte, será tratado con absoluta confidencialidad y reserva. Sólo en el caso de que las Fuerzas y Cuerpos de Seguridad del Estado, requieran el acceso a esa información, en los estrictos términos de la legislación vigente y todos aquellos otros supuestos legalmente establecidos, le será proporcionada conforme a lo que exige la Ley.</p>
        <p>XXXXX no utilizará en beneficio propio o de terceros, cualquier información que le sea proporcionada, o una reproducción parcial o total de la misma por cualquier medio.</p>
    </section>

    <!-- FOOTER Y SCRIPTS -->
    
    {{>footer}}
    
</body>
</html>