<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <!-- HEADER CON BARRA DE NAVEGACION -->
    
    {{>header}}

    <!-- CUERPO DE LA PAGINA -->
    <section class="container">
      <h2 class="text-center pb-2">Promociones Vigentes</h2>
      <section class="d-flex justify-content-around flex-wrap">
        <div class="card m-2" style="width: 30rem">
          <img src="./images/book_exterior/horizontal/dsc_0190.jpg" class="card-img-top" alt="Book en Exterior - Promo 1">
          <div class="card-body">
            <h5 class="card-title text-center">Promo 1: Book en Exterior Simple</h5>
            <p class="card-text">
              Valor de la promoción: $9.500
              <ul>
                <li>Locación hasta 20 km de CABA a elegir (viático aparte), por ejemplo:</li>
                <ul>
                  <li>Puerto Madero</li>
                  <li>Palermo Soho</li>
                  <li>Rosedal</li>
                </ul>
                <li>4 horas de sesión con hasta 4 cambios de vestuario</li>
                <li>Entrega digital de 20 fotografías retocadas y editadas</li>
                <li>La entrega de las fotografías es online (consultar por otros medios de entrega)</li>
              </ul>
            </p>
            <a href="reservaciones" class="btn btn-pink">Estoy interesado</a>
          </div>
        </div>
        <div class="card m-2" style="width: 30rem">
          <img src="./images/book_exterior/horizontal/dsc_0265.jpg" class="card-img-top" alt="Book en Exterior - Promo 2">
          <div class="card-body">
            <h5 class="card-title text-center">Promo 2: Book en Exterior Completo</h5>
            <p class="card-text">
              Valor de la promoción: $17.000
              <ul>
                <li>Locación hasta 50 km de CABA a elegir (viático aparte)</li>
                <li>1 maquillaje profesional incluido</li>
                <li>Utilería incluida: Globos, polvo Holi, pintura lavable a elección, bengalas</li>
                <li>Video back de la sesión de 3/4 minutos</li>
                <li>5 horas de sesión con hasta 5 cambios de vestuario</li>
                <li>Entrega digital de 40 fotografías con terminación profesional y editadas</li>
                <li>La entrega de las fotografías es online (consultar por otros medios de entrega)</li>
              </ul>
            </p>
            <a href="reservaciones" class="btn btn-pink">Estoy interesado</a>
          </div>
        </div>
        <div class="card d-flex m-2" style="width: 30rem">
          <img src="./images/book_interior/_6009031.jpg" class="card-img-top" alt="Book en Interior - Promo 3">
          <div class="card-body">
            <h5 class="card-title text-center">Promo 3: Book en Interior Simple</h5>
            <p class="card-text">
              Valor de la promoción: $8.500
              <ul>
                <li>Locación en el estudio fotográfico</li>
                <li>4 horas de sesión con hasta 4 cambios de vestuario</li>
                <li>Entrega digital de 20 fotografías retocadas y editadas</li>
                <li>La entrega de las fotografías es online (consultar por otros medios de entrega)</li>
              </ul>
            </p>
            <a href="reservaciones" class="btn btn-pink">Estoy interesado</a>
          </div>
        </div>
        <div class="card m-2" style="width: 30rem">
          <img src="./images/book_interior/_6009038.jpg" class="card-img-top" alt="Book en Interior - Promo 4">
          <div class="card-body">
            <h5 class="card-title text-center">Promo 4: Book en Interior Completo</h5>
            <p class="card-text">
              Valor de la promoción: $18.000
              <ul>
                <li>Locación en el estudio fotográfico</li>
                <li>1 maquillaje profesional incluido</li>
                <li>Video back de la sesión de 3/4 minutos</li>
                <li>5 horas de sesión con hasta 5 cambios de vestuario</li>
                <li>Entrega digital de 40 fotografías con terminación profesional y editadas</li>
                <li>La entrega de las fotografías es online (consultar por otros medios de entrega)</li>
              </ul>
            </p>
            <a href="reservaciones" class="btn btn-pink">Estoy interesado</a>
          </div>
        </div>
      </section>
    </section>
    
    <!-- FOOTER Y SCRIPTS -->
    
    {{>footer}}
    
</body>
</html>